In [1]:
%matplotlib notebook

In [2]:
import numpy as np
import pandas as pd
import csv
import json
import requests
import datetime as dt

In [3]:
# Import ems data from csv
ems_df = pd.read_csv("EMS_DATA.csv")
ems_df = ems_df.rename(columns={"GROUP_DATE":"Date"})
ems_df.head()

         Date  INCIDENT_DATETIME  INITIAL_SEVERITY_LEVEL_CODE
0  2016/01/01               4879                     4.139373
1  2016/01/02               3439                     4.165455
2  2016/01/03               3433                     4.230702
3  2016/01/04               3707                     4.241705
4  2016/01/05               3614                     4.215274

In [4]:
# Import moon data from csv
moon_df = pd.read_csv("Moon_Data.csv")
del moon_df["Unnamed: 0"]
moon_df.head()

        Date          Phase
0   1/2/2016   Last Quarter
1  1/10/2016       New Moon
2  1/16/2016  First Quarter
3  1/24/2016      Full Moon
4   2/1/2016   Last Quarter

In [5]:
# Change the date to a datetime object
moon_df['DATETIME']= pd.to_datetime(moon_df['Date'])
moon_df= moon_df.astype({'DATETIME': 'datetime64'})
moon_df['GROUP_DATE']= moon_df['DATETIME'].dt.strftime("%Y/%m/%d")
moon_df.head()

        Date          Phase   DATETIME  GROUP_DATE
0   1/2/2016   Last Quarter 2016-01-02  2016/01/02
1  1/10/2016       New Moon 2016-01-10  2016/01/10
2  1/16/2016  First Quarter 2016-01-16  2016/01/16
3  1/24/2016      Full Moon 2016-01-24  2016/01/24
4   2/1/2016   Last Quarter 2016-02-01  2016/02/01

In [6]:
# Merge tables
darkside = pd.merge(ems_df, moon_df, on="Date", how="left")

#Clean up table
darkside = darkside.rename(columns={"INITIAL_SEVERITY_LEVEL_CODE":"Initial Severity Level Code", "INCIDENT_DATETIME":"Incident Count"})
darkside

,Date,Incident Count,Initial Severity Level Code,Phase,DATETIME,GROUP_DATE
0,2016/01/01,4879,4.139373,NaN,NaT,NaN
1,2016/01/02,3439,4.165455,NaN,NaT,NaN
2,2016/01/03,3433,4.230702,NaN,NaT,NaN
3,2016/01/04,3707,4.241705,NaN,NaT,NaN
4,2016/01/05,3614,4.215274,NaN,NaT,NaN
5,2016/01/06,3913,4.296703,NaN,NaT,NaN
6,2016/01/07,3862,4.228897,NaN,NaT,NaN
7,2016/01/08,3874,4.248064,NaN,NaT,NaN
8,2016/01/09,3765,4.242762,NaN,NaT,NaN
9,2016/01/10,3492,4.181558,NaN,NaT,NaN
10,2016/01/11,3789,4.217472,NaN,NaT,NaN
11,2016/01/12,3702,4.266343,NaN,NaT,NaN
12,2016/01/13,3718,4.240183,NaN,NaT,NaN
13,2016/01/14,3709,4.260178,NaN,NaT,NaN
14,2016/01/15,3858,4.215397,NaN,NaT,NaN
15,2016/01/16,3652,4.164567,NaN,NaT,NaN
16,2016/01/17,3472,4.168779,NaN,NaT,NaN
17,2016/01/18,3484,4.262342,NaN,NaT,NaN
18,2016/01/19,3885,4.245302,NaN,NaT,NaN
19,2016/01/20,3770,4.241114,NaN,NaT,NaN
20,2016/01/21,3758,4.237892,NaN,NaT,NaN
21,2016/01/22,3905,4.251472,NaN,NaT,NaN
22,2016/01/23,3994,4.270155,NaN,NaT,NaN
23,2016/01/24,3982,4.181065,NaN,NaT,NaN
24,2016/01/25,4558,4.278631,NaN,NaT,NaN
25,2016/01/26,4253,4.270868,NaN,NaT,NaN
26,2016/01/27,3966,4.252648,NaN,NaT,NaN
27,2016/01/28,4039,4.239911,NaN,NaT,NaN
28,2016/01/29,4068,4.240905,NaN,NaT,NaN
29,2016/01/30,3753,4.208100,NaN,NaT,NaN
...,...,...,...,...,...,...
1066,2018/12/02,3916,4.157814,NaN,NaT,NaN
1067,2018/12/03,4330,4.246651,NaN,NaT,NaN
1068,2018/12/04,4234,4.221776,NaN,NaT,NaN
1069,2018/12/05,4079,4.220397,NaN,NaT,NaN
1070,2018/12/06,4015,4.209465,NaN,NaT,NaN
1071,2018/12/07,4250,4.227765,NaN,NaT,NaN
1072,2018/12/08,3930,4.185496,NaN,NaT,NaN
1073,2018/12/09,3721,4.192690,NaN,NaT,NaN
1074,2018/12/10,4159,4.245973,NaN,NaT,NaN
1075,2018/12/11,4036,4.245788,NaN,NaT,NaN
1076,2018/12/12,4247,4.241347,NaN,NaT,NaN
1077,2018/12/13,3998,4.241621,NaN,NaT,NaN
1078,2018/12/14,4519,4.227705,NaN,NaT,NaN
1079,2018/12/15,4274,4.192560,NaN,NaT,NaN
1080,2018/12/16,3740,4.184225,NaN,NaT,NaN
1081,2018/12/17,4442,4.224223,NaN,NaT,NaN
1082,2018/12/18,4105,4.254080,NaN,NaT,NaN
1083,2018/12/19,4126,4.239699,NaN,NaT,NaN
1084,2018/12/20,4352,4.207491,NaN,NaT,NaN
1085,2018/12/21,4534,4.205999,NaN,NaT,NaN
1086,2018/12/22,4097,4.132536,NaN,NaT,NaN
1087,2018/12/23,3811,4.168985,NaN,NaT,NaN
1088,2018/12/24,3850,4.179221,NaN,NaT,NaN
1089,2018/12/25,3497,4.188733,NaN,NaT,NaN
1090,2018/12/26,4037,4.205846,NaN,NaT,NaN
1091,2018/12/27,3958,4.234715,NaN,NaT,NaN
1092,2018/12/28,4254,4.164786,NaN,NaT,NaN
1093,2018/12/29,3987,4.165036,NaN,NaT,NaN
1094,2018/12/30,3861,4.207718,NaN,NaT,NaN
1095,2018/12/31,3959,4.203839,NaN,NaT,NaN