In [1]:
% matplotlib notebook

In [2]:
import numpy as np
import pandas as pd
import csv
import json
import requests

In [ ]:
# 2016 Data
city = "New York City, NY"
year = 2016
url = f"https://api.usno.navy.mil/moon/phase?year={year}&loc={city}"
response = requests.get(url).json()
response

In [ ]:
# Create lists and then the dataframe
date_2016 = []
phase_2016 = []
for entry in response['phasedata']:
    # Date
    date_2016.append(entry['date'])
 
    # Phase
    phase_2016.append(entry['phase'])
    
moon_2016 = pd.DataFrame({"Date": date_list,
                         "Phase": phase_list})
moon_2016.head()

In [ ]:
# 2017 Data
city = "New York City, NY"
year = 2017
url = f"https://api.usno.navy.mil/moon/phase?year={year}&loc={city}"
response = requests.get(url).json()
response

In [ ]:
# Create lists and then the dataframe
date_2017 = []
phase_2017 = []
for entry in response['phasedata']:
    # Date
    date_2017.append(entry['date'])
 
    # Phase
    phase_2017.append(entry['phase'])
    
moon_2017 = pd.DataFrame({"Date": date_list,
                         "Phase": phase_list})
moon_2017.head()

In [3]:
# 2018 Data
city = "New York City, NY"
year = 2018
url = f"https://api.usno.navy.mil/moon/phase?year={year}&loc={city}"
response = requests.get(url).json()
response

{'error': False,
 'apiversion': '2.2.1',
 'year': 2018,
 'month': 1,
 'day': 1,
 'numphases': 50,
 'datechanged': False,
 'phasedata': [{'phase': 'Full Moon', 'date': '2018 Jan 02', 'time': '02:24'},
  {'phase': 'Last Quarter', 'date': '2018 Jan 08', 'time': '22:25'},
  {'phase': 'New Moon', 'date': '2018 Jan 17', 'time': '02:17'},
  {'phase': 'First Quarter', 'date': '2018 Jan 24', 'time': '22:20'},
  {'phase': 'Full Moon', 'date': '2018 Jan 31', 'time': '13:27'},
  {'phase': 'Last Quarter', 'date': '2018 Feb 07', 'time': '15:54'},
  {'phase': 'New Moon', 'date': '2018 Feb 15', 'time': '21:05'},
  {'phase': 'First Quarter', 'date': '2018 Feb 23', 'time': '08:09'},
  {'phase': 'Full Moon', 'date': '2018 Mar 02', 'time': '00:51'},
  {'phase': 'Last Quarter', 'date': '2018 Mar 09', 'time': '11:20'},
  {'phase': 'New Moon', 'date': '2018 Mar 17', 'time': '13:12'},
  {'phase': 'First Quarter', 'date': '2018 Mar 24', 'time': '15:35'},
  {'phase': 'Full Moon', 'date': '2018 Mar 31', 'time': '12:37'},
  {'phase': 'Last Quarter', 'date': '2018 Apr 08', 'time': '07:17'},
  {'phase': 'New Moon', 'date': '2018 Apr 16', 'time': '01:57'},
  {'phase': 'First Quarter', 'date': '2018 Apr 22', 'time': '21:46'},
  {'phase': 'Full Moon', 'date': '2018 Apr 30', 'time': '00:58'},
  {'phase': 'Last Quarter', 'date': '2018 May 08', 'time': '02:09'},
  {'phase': 'New Moon', 'date': '2018 May 15', 'time': '11:48'},
  {'phase': 'First Quarter', 'date': '2018 May 22', 'time': '03:49'},
  {'phase': 'Full Moon', 'date': '2018 May 29', 'time': '14:19'},
  {'phase': 'Last Quarter', 'date': '2018 Jun 06', 'time': '18:32'},
  {'phase': 'New Moon', 'date': '2018 Jun 13', 'time': '19:43'},
  {'phase': 'First Quarter', 'date': '2018 Jun 20', 'time': '10:51'},
  {'phase': 'Full Moon', 'date': '2018 Jun 28', 'time': '04:53'},
  {'phase': 'Last Quarter', 'date': '2018 Jul 06', 'time': '07:51'},
  {'phase': 'New Moon', 'date': '2018 Jul 13', 'time': '02:48'},
  {'phase': 'First Quarter', 'date': '2018 Jul 19', 'time': '19:52'},
  {'phase': 'Full Moon', 'date': '2018 Jul 27', 'time': '20:20'},
  {'phase': 'Last Quarter', 'date': '2018 Aug 04', 'time': '18:18'},
  {'phase': 'New Moon', 'date': '2018 Aug 11', 'time': '09:58'},
  {'phase': 'First Quarter', 'date': '2018 Aug 18', 'time': '07:48'},
  {'phase': 'Full Moon', 'date': '2018 Aug 26', 'time': '11:56'},
  {'phase': 'Last Quarter', 'date': '2018 Sep 03', 'time': '02:37'},
  {'phase': 'New Moon', 'date': '2018 Sep 09', 'time': '18:01'},
  {'phase': 'First Quarter', 'date': '2018 Sep 16', 'time': '23:15'},
  {'phase': 'Full Moon', 'date': '2018 Sep 25', 'time': '02:52'},
  {'phase': 'Last Quarter', 'date': '2018 Oct 02', 'time': '09:45'},
  {'phase': 'New Moon', 'date': '2018 Oct 09', 'time': '03:47'},
  {'phase': 'First Quarter', 'date': '2018 Oct 16', 'time': '18:02'},
  {'phase': 'Full Moon', 'date': '2018 Oct 24', 'time': '16:45'},
  {'phase': 'Last Quarter', 'date': '2018 Oct 31', 'time': '16:40'},
  {'phase': 'New Moon', 'date': '2018 Nov 07', 'time': '16:02'},
  {'phase': 'First Quarter', 'date': '2018 Nov 15', 'time': '14:54'},
  {'phase': 'Full Moon', 'date': '2018 Nov 23', 'time': '05:39'},
  {'phase': 'Last Quarter', 'date': '2018 Nov 30', 'time': '00:19'},
  {'phase': 'New Moon', 'date': '2018 Dec 07', 'time': '07:20'},
  {'phase': 'First Quarter', 'date': '2018 Dec 15', 'time': '11:49'},
  {'phase': 'Full Moon', 'date': '2018 Dec 22', 'time': '17:49'},
  {'phase': 'Last Quarter', 'date': '2018 Dec 29', 'time': '09:34'}]}

In [20]:
# Create lists and then the dataframe
date_2018 = []
phase_2018 = []
for entry in response['phasedata']:
    # Date
    date_2018.append(entry['date'])
 
    # Phase
    phase_2018.append(entry['phase'])
    
moon_2018 = pd.DataFrame({"Date": date_list,
                         "Phase": phase_list})
moon_2018.head()

          Date          Phase
0  2018 Jan 02      Full Moon
1  2018 Jan 08   Last Quarter
2  2018 Jan 17       New Moon
3  2018 Jan 24  First Quarter
4  2018 Jan 31      Full Moon